html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
#map {
	height: calc(100vh - 40px);
}
.topbar {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background: #4e4e4e;
	color: #f0f0f0;
}
#buttons {
	line-height: 40px;
}
#buttons,
#buttons * {
	font-size: 1em;
}
button {
	background-color: #6c6c6c;
	color: #f0f0f0;
	font-weight: bold;
	border: 1px solid #3e3e3e;
	border-bottom: 2px solid #3e3e3e;
	border-radius: 3px;
	padding: 4px 8px;
}
select {
	border: 1px solid #1c1c1c;
	padding: 4px 8px;
	background-color: white;
	color: #6c6c6c;
}