* {
	font-family: 'Raleway', sans-serif;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
#map {
	height: calc(100vh - 41px);
}
.topbar {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background: #f0f0f0;
	color: #4e4e4e;
	border-bottom: 1px solid #bcbcbc;
}
#buttons {
	line-height: 40px;
}
#buttons,
#buttons * {
	font-size: 1em;
}
button {
	background-color: #f0f0f0;
	color: #6c6c6c;
	font-weight: normal;
	border: 1px solid #bcbcbc;
	border-radius: 3px;
	padding: 4px 8px;
}
select {
	border: 1px solid #bcbcbc;
	padding: 4px 8px;
	background-color: white;
	color: #6c6c6c;
}
#brand {
	font-family: 'Lobster', cursive;
	float: right;
	line-height: 40px;
	font-size: 24px;
	color: #8d8d8d;
}